@media (max-width: 479px) {
    .container {
        padding: 20px;
    }
}

@media (min-width: 480px) and (max-width: 800px) {
    .container {
        padding: 50px;
    }
}

@media (min-width:801px) { 
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
 }

.buttons {
    padding-top: 20px;
    padding-bottom: 20px;
}