@import 'tailwindcss';

@theme {
  /* Replace the tailwind sans font with Inter Variable */
  --font-sans: 'Inter Variable', sans-serif;

  /* Custom colors */
  --color-primary: #01a9f0;
  --color-secondary: #4173dd;
  --color-default: rgb(16 16 16);
  --color-muted: rgb(16 16 16 / 66%);
  --color-page: rgb(255 255 255);
}

.dark {
  /* Custom colors */
  --color-primary: #ca6be6;
  --color-secondary: #645bc9;
  --color-default: rgb(229 236 246);
  --color-muted: rgb(229 236 246 / 66%);
  --color-page: rgb(16 16 16);
}


