---
// index.astro

import PageLayout from '~/layouts/PageLayout.astro';

import Image from 'astro/components/Image.astro';

import avatarImage from '~/assets/images/avatar.jpeg';
import Socials from '~/components/common/Socials.astro';
---

<PageLayout>
  <div class="text-justify">
    <!-- Hero Section -->
    <div class="mb-4">
      <Image src={avatarImage} alt="Daniel Garcia" class="size-24 rounded-full border-2 border-gray-200/30 shadow-lg" />
    </div>
    <p>I'm a wearer of many hats but I mainly into software development and engineering.</p>
    <p class="mt-4">
      Pasionate about automating processes, I dedicate my personal and professional life into projects that use data and
      automate mundane things.
    </p>
    <p class="mt-4">
      I like to write about technology, code, business, productivity and life. You can catch some of my articles below.
    </p>
    <p class="mt-4">
      Currently working on <a
        href="https://autovisita.es"
        target="_blank"
        class="font-bold underline underline-offset-1">AutoVisita</a
      >.
    </p>

    <!-- Socials -->
    <div class="mt-8">
      <Socials />
    </div>

    <!-- Blogs -->
    <div class="mt-8">
      <h2>I write about:</h2>
      <ul class="list-disc list-inside mt-2">
        <li>
          <a href="/tech/" class="font-bold underline hover:cursor-pointer">Tech</a>: Coding guides, new trends and
          more.
        </li>
        <li class="mt-2">
          <a href="/business/" class="font-bold underline hover:cursor-pointer">Business</a>: My experience in business
          and entrepreneurship.
        </li>
        <li class="mt-2">
          <a href="/personal/" class="font-bold underline hover:cursor-pointer">Personal</a>: Learnings about
          productivity, life and mental health.
        </li>
      </ul>
    </div>
  </div>
</PageLayout>
