---
import { LOGO_IMAGE, SITE } from "@config";
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";

export interface Props {
  activeNav?: "blog" | "projects" | "about" | "search" | "tags";
  search?: boolean;
}

const { activeNav, search } = Astro.props;

// i18n
import { useTranslations, defaultLang, type languages } from "i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
const currentLang = (Astro.currentLocale as languages) || defaultLang;
const t = useTranslations(currentLang);
---

<header>
  <a id="skip-to-content" href="#main-content">Skip to content</a>
  <div class="nav-container">
    <div class="top-nav-wrap">
      <a
        href={getRelativeLocaleUrl(currentLang, "/")}
        class="logo whitespace-nowrap"
      >
        {
          LOGO_IMAGE.enable ? (
            <>
              {/* <img
                id="header-logo"
                src={`/assets/${LOGO_IMAGE.svg ? "logo.svg" : "logo.png"}`}
                class="fill-white	"
                alt={SITE.title}
                width={LOGO_IMAGE.width}
                height={LOGO_IMAGE.height}
              /> */}
              <svg
                data-v-0dd9719b=""
                version="1.0"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="100%"
                height="100%"
                viewBox="0 0 160.000000 51.000000"
                preserveAspectRatio="xMidYMid meet"
                color-interpolation-filters="sRGB"
                style="margin: auto;"
                class="md:h-16 md:w-52 h-10 w-40"
              >
                <g id="header-logo">
                  <g
                    class="tp-name"
                    transform="matrix(1,0,0,1,0,0)"
                    opacity="1"
                  >
                    <g transform="translate(0, 0)">
                      <g>
                        <g class="imagesvg">
                          <g>
                            <rect
                              fill-opacity="0"
                              stroke-width="2"
                              x="0"
                              y="0"
                              width="47.66815415821502"
                              height="50.38331077592988"
                              class="image-rect"
                            />{" "}
                            <svg
                              x="0"
                              y="0"
                              width="47.66815415821502"
                              height="50.38331077592988"
                              filter="colorsb8448818291"
                              class="image-svg-svg primary"
                              style="overflow: visible;"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 -0.0016610160237178206 83.97000122070312 88.75260162353516"
                              >
                                <title>d6</title>
                                <g data-name="图层 2">
                                  <path
                                    d="M72.37 9.49C65 3.12 54.05 0 40.41 0a142.25 142.25 0 0 0-24.17 1.95V2a14 14 0 1 0 16.87 13.7v-.22a48.91 48.91 0 0 1 7.31-.41c15.46 0 23.13 8.19 23.13 22 0 10.53-3.12 19.62-9.1 26.38C48.72 70 39.76 73.67 29.62 73.67a49 49 0 0 1-8.18-.52l3.36-17.52 4.83-25.18A15.54 15.54 0 0 1 10.51 32L6.68 52.11 0 87.18a155.73 155.73 0 0 0 23.91 1.56c19 0 31.83-3.51 42-11.56 10.91-8.7 18.06-23.39 18.06-40.28-.17-12.9-4.58-21.57-11.6-27.41z"
                                    fill="#f7931e"
                                    data-name="Layer 1"
                                  />
                                </g>
                              </svg>
                            </svg>
                          </g>
                        </g>
                      </g>
                    </g>
                    <g transform="translate(51, 3.9516553879649408)">
                      <g data-gra="path-name" transform="scale(1)">
                        <path
                          d="M28.86-29.64L28.86-23.16C26.40-27.78 21.54-30 16.74-30C8.46-30 1.68-23.88 1.68-14.82C1.68-5.76 8.46 0.48 16.74 0.48C21.54 0.48 25.98-1.68 28.86-6.30L28.86 0L31.80 0C31.80-9.90 31.80-19.74 31.80-29.64ZM16.74-27.18C33.24-27.18 33.24-2.40 16.74-2.40C10.02-2.40 4.62-7.38 4.62-14.82C4.62-22.26 10.02-27.18 16.74-27.18Z"
                          transform="translate(-1.68, 42)"
                        />
                      </g>
                    </g>
                    <g transform="translate(85, 3.9516553879649408)">
                      <g data-gra="path-name" transform="scale(1)">
                        <path
                          d="M3.30-29.64L3.30 0L6.24 0L6.24-16.50C6.24-22.62 10.50-27.24 16.62-27.30C23.04-27.36 27.18-23.76 27.18-17.04L27.18 0L30.12 0L30.12-17.10C30.12-25.32 24.66-30.18 16.74-30.18C12.60-30.12 8.46-28.44 6.18-24.36L6.18-29.64Z"
                          transform="translate(-3.3, 42)"
                        />
                      </g>
                    </g>
                    <g transform="translate(115, 3.9516553879649408)">
                      <g data-gra="path-name" transform="scale(1)">
                        <path
                          d="M6.24-29.76L6.24 0L3.30 0L3.30-29.76ZM2.46-39.30C2.46-36.18 7.20-36.18 7.20-39.30C7.20-42.42 2.46-42.42 2.46-39.30Z"
                          transform="translate(-2.46, 42)"
                        />
                      </g>
                    </g>
                    <g transform="translate(123, 3.9516553879649408)">
                      <g data-gra="path-name" transform="scale(1)">
                        <path
                          d="M16.68 0.42C21.42 0.42 26.58-1.50 29.46-5.28L27.36-6.96C25.14-4.02 20.58-2.46 16.68-2.46C10.56-2.46 5.22-6.48 4.62-13.44L31.32-13.44C32.46-25.02 25.02-30.12 16.68-30.12C8.34-30.12 1.62-23.70 1.62-14.82C1.62-5.40 8.34 0.42 16.68 0.42ZM4.62-16.02C5.28-23.28 10.56-27.42 16.68-27.42C23.82-27.42 28.62-23.34 28.68-16.02Z"
                          transform="translate(-1.6199999999999999, 42)"
                        />
                      </g>
                    </g>
                    <g transform="translate(156, 3.9516553879649408)">
                      <g data-gra="path-name" transform="scale(1)">
                        <path
                          d="M3.30-42L3.30 0L6.24 0L6.24-42Z"
                          transform="translate(-3.3, 42)"
                        />
                      </g>
                    </g>
                  </g>
                </g>
                <defs v-gra="od" />
              </svg>
            </>
          ) : (
            SITE.title
          )
        }
      </a>
      <nav id="nav-menu">
        <button
          class="hamburger-menu focus-outline"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="menu-icon"
          >
            <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
            <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
            <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
            <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
            <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
          </svg>
        </button>
        <ul id="menu-items" class="display-none flex-col sm:flex sm:flex-row">
          <li>
            <a
              href={getRelativeLocaleUrl(currentLang, "blog")}
              class={activeNav === "blog" ? "active" : ""}
            >
              Blog
            </a>
          </li>
          <li>
            <a
              href={getRelativeLocaleUrl(currentLang, "projects")}
              class={activeNav === "projects" ? "active" : ""}
            >
              {t("nav.projects")}
            </a>
          </li>
          <li>
            <a
              href={getRelativeLocaleUrl(currentLang, "about")}
              class={activeNav === "about" ? "active" : ""}
            >
              {t("nav.about")}
            </a>
          </li>
          {
            search && (
              <li>
                <LinkButton
                  href={getRelativeLocaleUrl(currentLang, "search")}
                  className={`focus-outline p-3 sm:p-1 ${
                    activeNav === "search" ? "active" : ""
                  } flex`}
                  ariaLabel={t("nav.search").toLowerCase()}
                  title={t("nav.search")}
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="scale-125 sm:scale-100"
                  >
                    <path d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z" />
                  </svg>
                  <span class="sr-only">{t("nav.search")}</span>
                </LinkButton>
              </li>
            )
          }

          {
            SITE.lightAndDarkMode && (
              <li>
                <button
                  id="theme-btn"
                  class="focus-outline"
                  title={t("nav.theme")}
                  aria-label="auto"
                  aria-live="polite"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" id="moon-svg">
                    <path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" id="sun-svg">
                    <path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z" />
                  </svg>
                </button>
              </li>
            )
          }
        </ul>
      </nav>
    </div>
  </div>
  <Hr />
</header>

<style>
  #skip-to-content {
    @apply absolute -top-full left-16 z-50 bg-skin-accent px-3 py-2 text-skin-inverted transition-all focus:top-4;
  }
  .nav-container {
    @apply mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row;
  }
  .top-nav-wrap {
    @apply relative flex w-full items-start justify-between p-4 sm:items-center sm:py-8;
  }
  .logo {
    @apply absolute py-1 text-xl font-semibold sm:static sm:text-2xl;
  }
  .hamburger-menu {
    @apply self-end p-2 sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }

  nav {
    @apply flex w-full flex-col items-center sm:ml-2 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0;
  }
  nav ul {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-x-2 gap-y-2 sm:ml-0 sm:mt-0 sm:w-auto sm:gap-x-5 sm:gap-y-0;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply w-full px-4 py-3 text-center font-medium hover:text-skin-accent sm:my-0 sm:px-2 sm:py-1;
  }
  nav ul li:nth-last-child(2) a {
    @apply w-auto;
  }
  nav ul li:nth-last-child(1),
  nav ul li:nth-last-child(2) {
    @apply col-span-1;
  }
  nav a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }

  nav button {
    @apply p-1;
  }
  nav button svg {
    @apply h-6 w-6 fill-skin-base hover:fill-skin-accent;
  }
  #theme-btn {
    @apply p-3 sm:p-1;
  }
  #theme-btn svg {
    @apply scale-125 hover:rotate-12 sm:scale-100;
  }

  .menu-icon line {
    @apply transition-opacity duration-75 ease-in-out;
  }
  .menu-icon .close {
    opacity: 0;
  }
  .menu-icon.is-active .line {
    @apply opacity-0;
  }
  .menu-icon.is-active .close {
    @apply opacity-100;
  }
</style>

<script>
  function toggleNav() {
    // Toggle menu
    const menuBtn = document.querySelector(".hamburger-menu");
    const menuIcon = document.querySelector(".menu-icon");
    const menuItems = document.querySelector("#menu-items");

    menuBtn?.addEventListener("click", () => {
      const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
      menuIcon?.classList.toggle("is-active");
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu"
      );
      menuItems?.classList.toggle("display-none");
      menuItems?.classList.toggle("flex");
    });
  }

  toggleNav();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", toggleNav);
</script>
