---
import { languages, defaultLang } from "../i18n/ui";
import { type Languages } from "i18n/utils";

const currentLang = (Astro.currentLocale as Languages) || defaultLang;

const getLocaleUrl = (lang: string) => {
  if (lang === defaultLang) {
    return `/`;
  } else {
    return `/${lang}/`;
  }
};
---

<div class="flex gap-x-2">
  <a>|</a>
  {
    Object.entries(languages).map(([key, language]) =>
      key === currentLang ? (
        <>
          <a class="text-gray-700 hover:text-gray-900">
            <span class={`fi fi-${language.countryCode}`} />
          </a>
          <a>|</a>
        </>
      ) : (
        <>
          <a href={getLocaleUrl(key)} class="text-gray-700 hover:text-gray-900">
            <span class={`fi fi-${language.countryCode}`} />
          </a>
          <a>|</a>
        </>
      )
    )
  }
</div>
