---
// Logo.astro

import { Icon } from 'astro-icon/components';

import { site } from '~/config';

const logo = site.logo;
const title = site.title;
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  {logo ? <Icon name={logo} class="text-default text-xl" /> : title}
</span>
