---
import { Icon } from 'astro-icon/components';

// Search.astro
---

<button id="searchButton" class="p-2 cursor-pointer hover-scale hover-rotate">
  <Icon name="tabler:search" class="w-5 h-5" />
</button>
