---
import Favicons from '~/meta/Favicons.astro';
import SEOMetaData from '~/meta/SEOMetaData.astro';
import SiteVerification from '~/meta/SiteVerification.astro';
import '~/styles/global.css';
import '@fontsource-variable/inter';
---

<!doctype html>
<html lang="es" dir="ltr">
  <head>
    <!-- Common Metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Favicons -->
    <Favicons />

    <!-- SEO stuff -->
    <SEOMetaData />

    <!-- Google Site Verification -->
    <SiteVerification />
  </head>
  <body>
    <slot />
  </body>
</html>
