---
// PageLayout.astro
// This layout is used for all pages
// Includes a header and a footer

import Layout from './Layout.astro';
import Header from '~/components/common/Header.astro';
import Footer from '~/components/common/Footer.astro';
import { navigation } from '~/config';
---

<Layout>
  <div id="maindiv" class="flex flex-col min-h-svh">
    <slot name="header">
      <Header {...navigation.header} />
    </slot>
    <main class="flex-grow">
      <slot />
    </main>

    <slot name="footer" class="mt-auto">
      <Footer {...navigation.footer} />
    </slot>
  </div>
</Layout>
